body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    font-weight: 300;
    color: rgb(19, 12, 2);
}
p{
    font-weight: 600;
    color:#333;
    justify-content: space-between;
    text-align: justify;
}

}

#sidenav-icons {
    padding-top: 16px;
}

footer {
    text-align: center; /* Center the content horizontally */
    background-color: #0e0d0d; /* Replace with the color of your choice */
    padding: 10px; /* Optional: Add padding to create spacing around the content */
    color: #b9c2f5; /* Optional: Set the text color */
    font-size: 25px; /* Optional: Adjust the font size */
}
